@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #150e28;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* navbar */
.Navbar {
  border-bottom: 1px solid whitesmoke;
}

.Navbar button.register-button {
  background: linear-gradient(to right, #d434fe, #903aff);
}

/* home */
.Home {
  border-bottom: 1px solid whitesmoke;
}

.Home .main {
  margin-top: 50px;
}

.Home div.main button.register-button {
  background: linear-gradient(to right, #d434fe, #903aff);
}

/* introduction */
.Introduction {
  border-bottom: 1px solid whitesmoke;
}

/* rules */
.Rules {
  border-bottom: 1px solid whitesmoke;
}

.Rules h1.purple {
  color: #d434fe;
}

/* judge */
.Judge {
  border-bottom: 1px solid whitesmoke;
}

.Judge h1.purple,
.Judge p span {
  color: #d434fe;
}

.Judge button.read-more {
  background: linear-gradient(to right, #d434fe, #903aff);
}

/* question */
.Question {
  border-bottom: 1px solid whitesmoke;
}

.Question ul li {
  border-bottom: 1px solid #d434fe;
}

.Question h1.purple {
  color: #d434fe;
}

/* timeline */
.Timeline {
  border-bottom: 1px solid whitesmoke;
}

/* prizes */
.Prizes {
  border-bottom: 1px solid whitesmoke;
}

.Prizes h1.purple {
  color: #d434fe;
}

.Prizes .second, .Prizes .third {
  border: 1px solid #d434fe;
  background: #d634fe33;
}

.Prizes .first {
  border: 1px solid #903aff;
  background: #8f3aff34;
}

.Prizes .first h1.price-award {
  color: #903aff;
}

.Prizes .second h1.price-award, .Prizes .third h1.price-award {
  color: #d434fe;
}

/* sponsors */
.Sponsors {
  border-bottom: 1px solid whitesmoke;
}

.Sponsors .partners {
  border: 1px solid #d434fe;
}